.resizeBox{
    display: none;
    position: fixed;
    border: 2px dotted blueviolet;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    z-index: 99999;
}
.altBox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    z-index: 99999;
}
.selectiveLinks{
    border: 2px dotted #7e05e0;
}